.profile-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.profile-info-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

.profile-photo-container {
  display: flex;
  width: 100px;
}

.profile-photo {
  border-radius: 49px;
}

.profile-title {
  font-weight: 900; 
}

.profile-subtitle {
  font-weight: 500; 
  text-decoration: underline;
}
