
body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    align-items: center;
}

.card{
    margin-bottom: 1rem;
}

.card>.card-content>.content>.buttons{
    display: flex;
    justify-content: flex-end;

}