
body{
    /*display: flex;
    flex-direction: column;*/
    margin: 0px;
    align-items: center;
}

.card{
    margin-bottom: 1rem;
    min-width: 50%;
    padding: 2rem;
}

.card>.card-content>.content>.buttons{
    display: flex;
    justify-content: flex-end;

}

.app-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}